
<div class="banner">
  <h1>Speed Dating</h1>
  <%= button_to 'Sign up', new_user_registration_path, method: :get %>
  <%= button_to 'Sign in', new_user_session_path %>
  <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
</div>
<div>
  <h2>Checkout Upcoming Events</h2>
</div>
<<div class="list">
  <ul>
    <li> 01/01/20 - Event One - Portland, Oregon </li>
    <li> 01/01/20 - Event Two - Beulla, Main </li>
    <li> 01/01/20 - Event Three - Passamaquady, Ohio </li>
    <li> 01/01/20 - Event Four - Neverland, Somewhere </li>
    <li> 01/01/20 - Event Five - Middle of Nowhere, Texas </li>
    <li> 01/01/20 - Event Six - Among the Cows, Oregon </li>
    <li> 01/01/20 - Event Seven - I am out of ideas, USA </li>
    </ul>
</div>
